In [5]:
import numpy as np
import pandas as pd

1. 짝수면 (n//2, n//2, n//2, n//2-1) D를 한번 덜 함
2. 홀수면 (n//2+1, n//2, n//2, n//2) A를 한번 더 함

In [13]:
def make(df, n, current, rotation):
    print(n, current, rotation)
    
    # A.
    array = [current + each for each in range(n)]
    df.loc[rotation, rotation:n + rotation - 1] = array
    current = max(array) + 1 if array else 0

    # B.
    array = [current + each for each in range(n - 1)]
    df.loc[rotation + 1:n +rotation - 1, n - 1 + rotation] = array
    current = max(array) + 1 if array else 0

    # C. n
    array = [current + each for each in reversed(range(n - 1))]
    df.loc[n - 1+rotation, rotation:n - 2 + rotation] = array
    current = max(array) + 1 if array else 0

    # D.
    array = [current + each for each in reversed(range(n - 2))]
    df.loc[rotation + 1:n - 2+rotation, rotation] = array
    current = max(array) + 1 if array else 0

    return df, n - 2, current, rotation + 1

In [18]:
def spiral_array(n):
    df = pd.DataFrame(columns=list(range(n)))

    for each in range(n):
        df.loc[each] = [0 for _ in range(n)]

    current = 0
    rotation = 0
    
    total = n//2 if n%2==0 else n//2+1
    
    for _ in range(total):
        df, n, current, rotation = make(df,n,current,rotation)
    return df.astype('int')

In [26]:
spiral_array(4)

4 0 0
2 12 1

    0   1   2  3
0   0   1   2  3
1  11  12  13  4
2  10  15  14  5
3   9   8   7  6