# No.1 Find the sum of all the multiples of 3 or 5 below 1000.

In [25]:
mul_sum = 0
for i in range(1, 1000):
    if i % 15 == 0:
        mul_sum += i
    elif i % 3 == 0:
        mul_sum += i
    elif i % 5 == 0:
        mul_sum += i

print(mul_sum)

233168

# No.2  2이상 1000이하 자연수의 집합에서 소수의 개수를 구하는 알고리즘을 작성하시오.

In [26]:
import math
math.sqrt(1000)

31.622776601683793

In [74]:
#에라토스테네스의 체 사용
ls = list(range(2, 1001))
n = ls[0]
count = 0
new_ls = []
while len(ls) > 0 :
    count += 1
    for i in ls:
        n = ls[0]
        if i % n != 0:
            new_ls.append(i)
    ls = new_ls
#### print(ls) -> 체로 걸러지는 리스트 보여줌
    new_ls = []

In [75]:
count

168

# No.3 피보나치 수열 중 짝수이면서 400만이하인 모든 항을 더하여라.

In [21]:
a = 1
b = 2
ls = [a, b]
while True:
    c = a + b
    if c > 4000000:
        break
    ls.append(c)
    a = b
    b = c

s = 0
for i in ls:
    if i % 2 == 0:
        s += i
print(s)

4613732

# No.4 1부터 10000까지 8이라는 숫자가 몇 번 나오는가?

1의 자리가 8인 수의 개수 -> 10X10X10 = 1000 

10의 자리가 8인 수의 개수 -> 10X10X10 = 1000 

100의 자리가 8인 수의 개수 -> 10X10X10 = 1000 

1000의 자리가 8인 수의 개수 -> 10X10X10 = 1000 

$\therefore 1000+1000+1000+1000 = 4000 $